{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <title>实时监测</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="{% static 'LineDetection/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'LineDetection/dist/css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'LineDetection/dist/css/AdminLTE.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'LineDetection/dist/css/skins/all-skins.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'LineDetection/vince/css/vince.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'LineDetection/vince/biao/css/font-awesome.min.css' %}">
    <!--[if lt IE 9]>
    <script src="dist/js/html5shiv.min.js"></script>
    <script src="dist/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <a href="#" class="logo">
      <span class="logo-mini">
	  <img src="{% static 'LineDetection/vince/images/v01.png' %}">
	  </span>
            <span class="logo-lg"><img src="{% static 'LineDetection/vince/images/v01.png' %}">汽车制造</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
            <span class="all_title">汽车涂装工艺能耗异常检测系统</span>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static 'LineDetection/dist/img/user2-160x160.jpg' %}" class="user-image" alt="User Image">
                            {% if character == 0 %}
                                <span class="hidden-xs">能耗分析人员</span>
                            {% endif %}
                            {% if character == 1 %}
                                <span class="hidden-xs">普通用户</span>
                            {% endif %}
                            {% if character == 2 %}
                                <span class="hidden-xs">现场排查人员</span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="user-header">
                                <img src="{% static 'LineDetection/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                                <p>
                                    姓名：管理员
                                    <small>部门：信息部</small>
                                </p>
                            </li>
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="{% url 'LineDetection:login' %}" class="btn btn-default btn-flat">退出系统</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="{% static 'LineDetection/dist/img/user2-160x160.jpg' %}" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    {% if character == 0 %}
                        <p>能耗分析人员</p>
                    {% endif %}
                    {% if character == 1 %}
                        <p>普通用户</p>
                    {% endif %}
                    {% if character == 2 %}
                        <p>现场排查人员</p>
                    {% endif %}
                    <p class="menu_time">
                        时间：<span id="nowTime"></span></p>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header">菜单 MENU</li>
                <li class="active">
                    <a href="{% url 'LineDetection:index' character %}">
                        <i class="fa fa-home" style="font-size: 22px"></i> <span>首页</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'LineDetection:monitor_index' character %}">
                        <i class="fa fa-eye"></i> <span>异常检测</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'LineDetection:report' character %}">
                        <i class="fa fa-map"></i> <span>能耗报表</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="http://127.0.0.1:8000/admin/LineDetection/article/">
                        <i class="fa fa-print"></i>
                        <span>异常检测分享博客</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>

            </ol>
        </section>
        <div class="content qqq">
            <div class="rezone">
                <div class="requtu">
                    <img src="{% static 'LineDetection/vince/images/zhizao.jpg' %}" usemap="#Map"/>
                    <map name="Map">
                        <area shape="poly" id="hotone"
                              coords="487,85,563,60,660,41,721,35,753,35,772,40,785,45,778,190,748,197,729,213,727,230,727,264,680,276,665,273,640,269,624,269,598,273,580,273,564,274,556,274,542,280,524,280,508,278,492,278,485,263"
                              href="#">
                        <area shape="poly" id="hottwo"
                              coords="185,156,213,177,223,175,236,188,238,200,307,211,308,196,330,189,424,156,422,110,400,91,315,72,311,51,257,40,244,32,212,26,168,32,155,45,156,115,159,135"
                              href="#">
                    </map>
                    <a href="yjgl.html">
                        <div class="sy_jinggao jing"></div>
                    </a>
                    <div class="requone">
                        <div class="requzuo"></div>
                        <div class="requyou">
                            <p class="requyou_title">办公楼</p>
                            <li class="requyou_inf">
                                <span class="requyou_infleft">实时负荷</span>
                                <span class="requyou_infright">180kW</span>
                            </li>
                            <li class="requyou_inf">
                                <span class="requyou_infleft">本日累计耗电量</span>
                                <span class="requyou_infright">2190kWh</span>
                            </li>
                            <li class="requyou_inf">
                                <span class="requyou_infleft">本日累计响应电量</span>
                                <span class="requyou_infright">311kWh</span>
                            </li>
                        </div>
                    </div>
                    <div class="requtwo">
                        <div class="requzuo"></div>
                        <div class="requyou">
                            <p class="requyou_title">商业楼</p>
                            <li class="requyou_inf">
                                <span class="requyou_infleft">实时负荷</span>
                                <span class="requyou_infright">140kW</span>
                            </li>
                            <li class="requyou_inf">
                                <span class="requyou_infleft">本日累计耗电量</span>
                                <span class="requyou_infright">1890kWh</span>
                            </li>
                            <li class="requyou_inf">
                                <span class="requyou_infleft">本日累计响应电量</span>
                                <span class="requyou_infright">210kWh</span>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sy_info">
                <div class="sy_info_left lindianjia">
                    <p>季度制造目标：<span>57430</span> 辆 <br>
                       已完成车辆数：<span>4098</span> 辆</p>
                </div>
                <div class="sy_info_right">
                    <div class="sy_info_one">
                        <p>
                            季<br>度<br>异<br>常<br>信<br>息
                        </p>
                    </div>
                    <div class="sy_info_three">
                        <table>
                            <tr>
                                <td rowspan="2">第一季度：<span class="shoudanxuan"></span><br>2019月4月</td>
                                <td>生产线1    <span class="shoudanxuanwei"></span></td>
                                <td>总能耗：48640kW</td>
                                <td>能耗异常数量：5次</td>
                                <td>已经排查：4次</td>
                            </tr>
                            <tr>
                                <td>生产线2    <span class="shoudanxuan"></span></td>
                                <td>总能耗：48600kW</td>
                                <td>能耗异常数量：6次</td>
                                <td>已经排查：6次</td>
                            </tr>
                            <tr>
                                <td rowspan="2">第二季度：<span class="shoudanxuan"></span><br>2019月3月</td>
                                <td>生产线1    <span class="shoudanxuanwei"></span></td>
                                <td>总能耗：48640kW</td>
                                <td>能耗异常数量：5次</td>
                                <td>已经排查：4次</td>
                            </tr>
                            <tr>
                                <td>生产线2    <span class="shoudanxuan"></span></td>
                                <td>总能耗：48600kW</td>
                                <td>能耗异常数量：6次</td>
                                <td>已经排查：6次</td>
                            </tr>

                        </table>
                        <div class="clear"></div>
                    </div>
                    
                    <div class="clear">
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs"><b></b></div>
        <strong>Copyright &copy; All Rights Reserved powered by Shanyue</strong>
    </footer>
    <div class="control-sidebar-bg"></div>
</div>
<script src="{% static 'LineDetection/vince/js/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'LineDetection/vince/global.js' %}"></script>
<script src="{% static 'LineDetection/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'LineDetection/dist/js/app.min.js' %}"></script>
<script src="{% static 'LineDetection/dist/js/demo.js' %}"></script>
<script src="{% static 'LineDetection/vince/js/nicescroll.js' %}"></script>
<script src="{% static 'LineDetection/vince/js/demo.js' %}"></script>
<script src="{% static 'LineDetection/vince/datapick/js/moment.js' %}"></script>
<script src="{% static 'LineDetection/vince/js/echarts.min.js' %}"></script>

<div id="sss" style="display:none;height:200px;width:200px;"></div>
<script src="{% static 'LineDetection/vince/js/echarts.min.js' %}"></script>
<script type="text/javascript">
    var myChart1 = echarts.init(document.getElementById('sss'));
    option1 = {
        series: [{data: [247, 179]}]
    };
    myChart1.setOption(option1);
</script>
</body>
</html>